*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-areas: "header main" ;
    color: #737e87;
}
header{
    background-image: url(images/bg.jpg);  
    background-position: left top;
    background-size: cover;
    grid-area: header;
    position: sticky;
    top: 0;
    height: 100vh;
}
main{
    grid-area: main;
    margin-top: 130px ;
}
.ini{
    display: flex;
    flex-flow: wrap column;
    align-items:flex-end;
    margin-right: 25px;
    margin-top: 100px;
    max-width: 100%;
}
#avatar{
    border-radius: 50%;
    max-width: 100%;
}
#nathan{
    color: white;
}
.ini h1{
    font-size: 2.2em;
    direction: rtl;
}
.ini p{
    margin-top: 10px;
}
a{
    text-decoration: none;
    border-bottom: dotted 1px;
    transition: color .2s linear, border .2s linear;
}
a:hover{
    border-bottom-color: transparent;
}
.link-header{
    color: inherit;
}
.link-header:hover{
    color: #49bf9d;
}
.flex-card{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 200px;
}
.card-recent img{
    border-radius: 10px ;
    margin-right: 140px;
}
.p-secund{
    margin-bottom: 10px;
}
section {
    margin-bottom: 15px;
    margin-left: 60px;
    margin-right: 60px;
}
section h2{
    font-size: 2em;
    
}
section h3{
    font-size: 1.5em;
    margin-bottom: 20px;
}
img{
    max-width: 100%;
    display: block;
}
.pp{
    margin-bottom: 30px;
}
.widget{
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
    max-width: 100%;
    border: solid 3px transparent;
}
.widget:focus{
    border: solid 3px #44dfb3;
    outline: none;
}
.nm{
    width: 20em;
    height: 50px;
    padding-left: 2px;
}
::placeholder{
    font-size: 17px;
}
.form-address{
    display: flex;
    flex-flow: wrap row;
}
.form1{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}
.form2{
    display: flex;
    flex-flow: wrap column ;
    margin-top: 10px;
}
.form2 :nth-child(2){
    align-self:center;
    margin-top: 5px;
}
.form2 :nth-child(1){
    height: 80px;
}
.form1 :nth-child(1){
    margin-right: 10px;
}
.address{
    margin-left: 10px;
}
section h4{
    font-size: 1.3em;
    margin: 15px 0px;
}
.link2{
    color: #49bf9d;
}
.link2:hover{
    color: inherit;
}
p code{
    background-color: rgb(245, 245, 245);
    border: solid 2px #efefef;
    border-radius: 3px;
    padding-left: 3px;
}
blockquote{
    border-left: solid 2px #efefef;
    margin-top: 15px;
}
blockquote p{
    margin: 0 0 13px 15px;
}
pre{
    background-color: rgb(247, 247, 247);
    border: solid 2px #efefef;
    border-radius: 5px;
    width: 80%;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
}
.botao{
    border-radius: 5px;
    font-size: .9em;
    transition: all 0.3s linear; 
    cursor: pointer;
}
.verde{
    background-color: #49bf9d;
    color: white;
    border: solid 2px #49bf9d;
}
.branco{
    background-color: white;
    border: solid 2px #efefef;
    color: rgba(0, 0, 0, 0.5);
}
.verde:hover{
    background-color: #44dfb3;
    border-color: transparent;
}
.branco:hover{
    border-color: #44dfb3;
    color: #49bf9d;
}
#botao1{
    width: 90px;
    height: 37px;
    margin-top: 20px;
}
#bt-potifolio{
    padding: 10px;
}
#bt-form{
    padding: 5px 20px; 
    width: 90px;
    height: 37px;
}
.bt-duplo{
    width: 90px;
    height: 37px;
}
.grid-list{
    display: grid;
    grid-template-columns: 50% 50%;
}
.ul-al{
    list-style: none;
    list-style-position: inside;
    margin-left: 5px;
}
.ul-al li{
    border-bottom: solid 2px #efefef;
}
.ul-al li:last-child{
    border: none;
}
.list-m{
    list-style-position: inside;
    margin-left: 5px;
}
h5{
    font-size: 1.2em;
}
.fas{
    font-size: 1.2em;
    margin-right: 2px;
}
.u input:nth-child(1){
    display:block;
}
.u input{
    width: 100%;
}
.bt-duplo2{
    display: block;
    width: 180px;
    height: 37px;
}
.u1{
    margin-top: 10px;
}
.u{
    margin-top: 10px;
}
thead{
    background-color: #ccc;
}
table{
    width: 100%;
    margin-bottom: 30px;
    border-bottom: solid 2px #ccc;
    text-align: left;
    border-collapse: collapse;
}
table thea tr th{
    border-bottom: solid 2px #737e87;
}
table tbody tr:nth-child(even) td{
    background-color: #eee;
}
th{
    padding: 10px 0;
}
td{
    padding: 10px 0;
}
.form-flex-2{
    display: flex;
    flex-flow: column wrap;
}
.nms{
    height: 37px;
}
.select{
    margin-top: 15px;
    height: 45px;
    color: #737e87
}
option{
    background-color: #efefef;
}
.text{
    height: 120px;
}
.espaco-label{
    margin-top: 10px;
}
.bt-duplo-form2{
    margin-top: 10px;
}
.imagem-full{
    width: 100%;
    border-radius: 5px;
}
.container-img{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.cards2{
    margin-top: 4px;
    border-radius: 5px;
}
.avatar-esquerda{
    border-radius: 5px;
    float: left;
    margin: 0px 10px 0px 0px;
}
.avatar-direita{
    border-radius: 5px;
    float: right;
}
#h3-final{
    margin-top: 30px;
    margin-bottom: 10px;
}
#p-final{
    margin-bottom: 10px;
}
#p-final2{
    margin-bottom: 30px;
}

@media screen and (max-width: 768px){
    section{
        margin-right: 10px;
        margin-left: 10px;
    }
}
@media screen and (max-width: 522px){
    .ini h1{
        font-size: 1.5em;
    }
    .ini p{
        font-size: 10px;
    }
}
@media screen and (max-width: 1020px) {
    body{
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: "header" "main";
    }
    header{
        grid-area: header;
        position: relative;
        height: max-content;
    }
    main{
        grid-area: main;
    }
    .ini{
        margin-top: 0;
    }
}
@media screen and (max-width: 563px){
    .form1 :nth-child(1){
        margin: 0 0 10px 0;
    }
}