*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: auto 1fr auto;
    color: #737e87;
}
header{
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    position: sticky;
    top: 0;
    height: 100vh;
    box-sizing: border-box;
}
.ini{
    display: flex;
    flex-flow: wrap column;
    align-items:flex-end;
    margin-right: 25px;
    margin-top: 100px;
}
#avatar{
    border-radius: 50%;
}
#nathan{
    color: white;
}
.ini h1{
    font-size: 30px;
    direction: rtl;
}
.ini p{
    color: rgba(0, 0, 0, 0.3);
    margin-top: 10px;
}
.flex-card{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 200px;
}
.card-recent img{
    border-radius: 10px ;
    margin-right: 140px;
}
.p-secund{
    margin-bottom: 10px;
}
section {
    margin-left: 60px;
    margin-bottom: 15px;
}
section h2{
    font-size: 2em;
    margin-top: 130px;
}
section h3{
    font-size: 1.5em;
    margin-bottom: 20px;
}
img{
    max-width: 100%;
    display: block;
}
.pp{
    margin-bottom: 30px;
}
.widget{
    border-radius: 5px;
    background-color: #ccc;
    max-width: 100%;
}
.nm{
    width: 20em;
    height: 50px;
    padding-left: 2px;
    max-width: 100%;
}
::placeholder{
    font-size: 17px;
}
.form-address{
    display: flex;
    flex-flow: wrap row;
}
.form1{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}
.form2{
    display: flex;
    flex-flow: wrap column ;
    margin-top: 10px;
}
.form2 :nth-child(2){
    align-self:center;
    margin-top: 5px;
}
.form2 :nth-child(1){
    height: 80px;
}
.form1 :nth-child(1){
    margin-right: 10px;
}
.address{
    margin-left: 10px;
}
section h4{
    font-size: 1.3em;
    margin: 15px 0px;
}
p code{
    background-color: rgb(245, 245, 245);
    border: solid 2px #efefef;
    border-radius: 3px;
    padding-left: 3px;
}
blockquote{
    border-left: solid 2px #efefef;
    margin-top: 15px;
}
blockquote p{
    margin: 0 0 13px 15px;
}
pre{
    background-color: rgb(247, 247, 247);
    border: solid 2px #efefef);
    border-radius: 5px;
    width: 700px;
}
.botao{
    border-radius: 5px;
    border-color: #efefef;
    font-size: .9em;
}
.verde{
    background-color: #49bf9d;
    color: white;
}
.branco{
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
    
}
#botao1{
    width: 90px;
    height: 37px;
    margin-top: 20px;
}
#bt-potifolio{
    padding: 10px;
}
#bt-form{
    padding: 5px 20px; 
    width: 90px;
    height: 37px;
}
.bt-duplo{
    width: 90px;
    height: 37px;
}
@media screen and (max-width: 768px){
    section{
        margin-right: 10px;
        margin-left: 10px;
    }
}
@media screen and (max-width: 522px){
    .ini h1{
        font-size: 20px;
    }
    .ini p{
        font-size: 10px;
    }
}